
<!--


1) localhost:3000/index

page with burger image and eat-da-burger title

textbox to enter name of burger

submit button

if there are burgers they should display above textbox.


2) click submit 

add to burger list

"devour" button for each burger


3) click devour button

remove burger from list

add to "devoured" list on opposite side of page


=======

-->


<div class="container">

    <div><img src="./assets/img/burgie.png"></div>
    <div><img src="./assets/img/title.png"></div>

    <div class="row">
        <div class="col-3">
            <h3>List of Burgers</h3>
            {{#each burgers}}
            <div class="burgerData" id="div-burger-{{id}}" data-devoured="{{devoured}}">
                <!-- <p>ID: {{id}}</p> -->
                <p class="burgerName">{{burger_name}}</p>
                <!-- <p>Devoured: {{devoured}}</p> -->
            </div>
            {{/each}}
        </div>
        <div class="col-4">
          <forms>		
            <h3>Name a Burger</h3>
            <div><input type="text" id="newBurger"></div>
            <div>
                <input type="submit" id="btn-submit" class="btn btn-primary" value="Add Burger">
            </div>
          </form>
        </div>
        <div class="col-3">
          <h3>Burgers Eaten</h3>
            {{#each devoured}}
              <div class="devouredData" id="div-devoured-{{id}}" data-devoured="{{devoured}}">
                  <!-- <p>ID: {{id}}</p> -->
                  <p class="devouredName">{{burger_name}}</p>
                  <!-- <p>Devoured: {{devoured}}</p> -->
              </div>
            {{/each}}
        </div>
    </div>

    <!-- Link to a page via route
        <a href="/home"><button type="button" class="btn btn-primary">Home</button></a> -->

</div> <!-- /container -->











<!-- Pass in data from server.js 
<ul>
  {{#each quotes}}
  	<li>
  		<p><span class="label">ID:</span> {{this.id}}</p>
      <p><span class="label">Quote:</span> {{this.quote}}</p>
      <p><span class="label">Author:</span> {{this.author}}</p>

      <button data-id="{{this.id}}" class="delquote">Delete</button>

      <a href="/{{this.id}}">Update this quote</a>
  	</li>
  {{/each}}
</ul>

<h2>Add a Quote</h2>

<form class="create-form">

  <div class="form-group">
    <label for="auth">Author:</label>
    <input type="text" id="auth" name="author">
  </div>

  <div class="form-group">
    <label for="quo">Quote:</label>
    <textarea id="quo" name="quote" rows="8" cols="40"></textarea>
  </div>

  <button type="submit">Add Quote</button>
</form>
-->